compel==2.0.3
dearpygui==2.0.0
diffusers==0.33.1
huggingface_hub==0.27.0
imagesize==1.4.1
numpy==2.0.2
Pillow==11.2.1
pyperclip==1.9.0
requests==2.32.3
torch==2.7.0
accelerate==1.6.0
safetensors==0.5.3
realesrgan==0.3.0
basicsr==1.4.2
transformers==4.51.3
torchvision==0.22.0